/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "animations";

@mixin panel-color($color)
{
	@include panel-variant($color, white, $color, $color);
}

.selectable-panel
{
	@include panel-color($brand-primary);
}

.selected-panel
{
	@include panel-color($brand-success);

	.panel-heading
	{
		animation: panel-selected 0.2s ease;
	}
}

.create-campaign
{
	@extend .btn;
	@extend .btn-primary;
}

.add-person
{
	@extend .btn;
	@extend .btn-primary;
}

.create-character
{
	@extend .btn;
	@extend .btn-primary;
}

.confirm-character
{
	@extend .btn;
	@extend .btn-primary;
}

.text-input
{
	@extend .form-control;
}

.submit
{
	@extend .btn;
	@extend .btn-primary;
}

.edit-campaign
{
	@extend .btn;
	@extend .btn-primary;
}

.disabled-submit
{
	@extend .btn;
	@extend .btn-primary;
	@extend .disabled;
}

@mixin slideable()
{
	animation: slidein 0.25s linear;
}

.slide
{
	@include slideable()
}

.textarea
{
	@extend .form-control;
}

.tiled
{
	@extend .col-xs-12;
	@extend .col-sm-6;
	@extend .col-md-4;
	@extend .col-lg-3;

	@include slideable();
}

.select-box
{
	@extend .form-control;
}

.no-dot
{
	list-style-type: none;
}
