<!DOCTYPE html>
<html>
	<head>
		<title>Qgen</title>
    <script src='/application.js'></script>
		<%= csrf_meta_tags %>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<div id='navbar'></div>
		<div class='container-fluid'>
			<div id='app'></div>
		</div>
	</body>
</html>
